* /* ------------------------------------- RESETEO ---------------------------------*/
{
margin: 0;
padding: 0;
}

h4
{
color: white;
text-align: justify;
}

article
{
margin: 5px;
padding: 0px;
align-items: center;
}


/* ------------------------------------- NAV  ---------------------------------*/
.nav-link{
    color: white;
}
.nav-link:hover{
  color: orange;
}


.navbar-toggler-icon {
  background-color: white;
  border-radius: 3px;
}


.navbar-toggler-icon:hover {
  background-color: orange;
}

.hero{
    background-image: url(../image/BANNER\ BLACK.jpg);
    height: 40vh;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
    margin-top: 10px;
    

}


/* ------------------------------------- TARJETAS  ---------------------------------*/
.card img {
    height: 300px; 
    object-fit: fill; 
    width: 85%;
  }

.card {
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: gray;
  }

.card:hover {
    transform: scale(1.1)
  }

.contenedorCartas{
    display: flex;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%; /* Ajusta el ancho al 100% en dispositivos móviles */
    display: block; /* Mostrar las tarjetas en bloque para que estén una debajo de la otra */ /* Eliminar el margen derecho en dispositivos móviles */
    margin-bottom: 20px; /* Añadir un espacio entre las tarjetas en dispositivos móviles */
    padding: 10px;
  }

.contenedorCartas{
  display: block;
  }

}

  /* -------------BOTON--------------------  */
.btn{
  color: white;
    background-color: black;
    border: solid gray 5px;
    border-radius: 20px;
  }

 /* ------------ FOOTER ---------------------  */
footer{
  color: white;
  background-color:black;
  border: solid gray 5px;
  margin: 5px;
  padding: 10px;
}

.contenedorCartas{
  background-color: gray;
  margin: 10px;
  padding: 25px;
}

.titulo{
  text-align: center;
}

.parrafo{
  justify-content: justify;
  background-color: orange;
}


.mb-3{
  background-color: gray;
  color: black;
  margin: 20px;
  padding: 10px;
  font-style: oblique;
}
